In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

electors_2009 = pd.read_csv("LS2009Electors.csv")
candidate_2009 = pd.read_csv("candidate09.csv")

In [4]:
candidate_2009.Candidate_Sex.value_counts()

M    7518
F     552
Name: Candidate_Sex, dtype: int64

In [5]:
counts = [males, females]
x =

NameError: ignored